/* MainPage styles */
#container {
    display: flex;
  }
  
  #main {
    display: flex;
    width: 100%;
    flex-direction: column;
    background-color: #F5FAE9;
    margin-left: 250px;
  }
  
  #footer {
    display: flex;
    height: 10rem;
  }
  