/* MainPage styles */
#container {
  display: flex;
  flex-grow: 1;
  height: 100vh;
}

#main {
  display: flex;
  width: 100%;
  flex-direction: column;
  background-color: #f6f6f6;
  margin-left: 250px;
}

#footer {
  display: flex;
  height: 1rem;
}