#menu-stat-root {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
}

#ms-upper {
    display: flex;
    flex: 1;
    margin-bottom: 3rem;
    background-color: #ffffff;
    
}

#ms-lower {
    display: flex;
    flex-direction: column;
    flex: 7;
    height: 85%;
    /* background-color: #F3736D; */
    /* overflow-y: scroll; */
    /* border: solid 1px black; */
}

#ms-datebar {
    /* padding-right: 10%; */
    width: 200px;
}
/* #ms-optionbar {
    height: 25%;
} */

.graphbar-bg{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-left: solid 1px #dedcdb;
    /* border-radius: 10px; */
    margin-bottom: 5px;
}
.graphbar-item{
    height: 100%;
    /* border-radius: 10px; */
    background-color: #fce3e1;
    text-wrap: nowrap;
    /* overflow: hidden;
    white-space: nowrap; */
}

.graphbar-item:hover {
/* hover 상태일 때 텍스트를 보여줍니다 */
    overflow: visible;
}