#menu-team-container {
    width: 100%;
    padding: 20px;
}

#menu-team-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

#menu-team-search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu-team-search span {
    font-size: 20px;
}

.menu-team-add-input {
    margin-top: 15px !important;
}

.menu-team-add-button {
    display: flex;
    flex-direction: row;
    width: 180px;
    justify-content: space-between;
    align-items: center;
    background-color: #F3736D;
    margin-right: 40px;
    border-radius: 2rem;
    padding: 0px 30px 0px 30px;
    cursor: pointer;
}

.menu-team-add-button img {
    height: 40px;
}

.menu-team-add-button span {
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
}

.menu-team-list {
    display: flex;
    margin-top: 50px;
    margin-left: 20px;
}

.menu-team-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.menu-team-block-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.menu-team-block-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-team-block-desc {
    font-size: 16px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#menu-team-add-dialog .menu-team-add-button {
    justify-content: center;
    width: 140px;
    height: 40px;
    margin-right: 0px;
    border-radius: 1rem;
}

#menu-team-add-dialog .menu-team-add-button img {
    height: 30px;
}

#menu-team-add-dialog .menu-team-add-button span {
    font-size: 16px;
}

#menu-team-add-datepicker-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}

#menu-team-detail-dialog-body {
    display: flex;
    flex-direction: column;
}

#menu-team-add-category-text span {
    font-size: 15px;
}