#menu-team-container {
    width: 100%;
    padding: 20px;
}

#menu-team-header {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 30px;
}

#menu-team-search {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#menu-team-search span {
    font-size: 20px;
}

.menu-team-add-input {
    margin-top: 15px !important;
}

.menu-team-add-button {
    display: flex;
    flex-direction: row;
    width: 180px;
    justify-content: space-between;
    align-items: center;
    background-color: #F3736D;
    margin-right: 40px;
    border-radius: 2rem;
    padding: 0px 30px 0px 30px;
    cursor: pointer;
}

.menu-team-add-button img {
    height: 40px;
}

.menu-team-add-button span {
    font-size: 20px;
    font-weight: 800;
    color: #FFFFFF;
}

.menu-team-list {
    display: flex;
}

.team-block {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border-radius: 1rem;
    background-color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-block-header {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.team-block-header-text {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.team-name {
    font-size: 1.2rem;
    font-weight: bold;
}

.team-period {
    font-size: 1rem;
    color: gray;
}

.team-block-body {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
}

.team-member-list {
    display: flex;
    flex-direction: column;
}

.team-member {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #ADFF0026;
    border-radius: 1rem;
    margin: 5px 0;
}

.member-info {
    font-size: 1rem;
}

.delete-button {
    margin-left: auto;
    cursor: pointer;
    width: 28px;
    height: 35px;
}

#menu-team-add-dialog .menu-team-add-button {
    justify-content: center;
    width: 140px;
    height: 40px;
    margin-right: 0px;
    border-radius: 1rem;
}

#menu-team-add-dialog .menu-team-add-button img {
    height: 30px;
}

#menu-team-add-dialog .menu-team-add-button span {
    font-size: 16px;
}

#menu-team-add-datepicker-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 7px;
}