/* MenuMission.css */

#menu-mission-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px;
}

#menu-mission-header {
  display: flex;
  flex: 1;
  margin-bottom: 3rem;
  justify-content: space-between;
}

#menu-mission-body {
  display: flex;
  flex: 7;
  padding-left: 2rem;
}

#common-mission-list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#common-mission {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 1rem;
  padding: 1rem;
}

#common-mission-header {
  display: flex;
  flex: 1;
  margin-bottom: 1rem;
}

#common-mission-title {
  display: flex;
  margin-right: 3rem;
}

#common-mission-title span {
  font-size: 1.2rem;
  font-weight: 800;
}

#common-mission-achieve-level {
  display: flex;
}

#common-mission-personal-name span,
#common-mission-achieve-level span {
  font-size: 1.2rem;
  font-weight: 700;
}

#common-mission-body {
  display: flex;
  flex: 3;
}

#common-mission-personal-list {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 2rem;
}

#common-mission-personal {
  display: flex;
  flex-direction: column;
  width: 11rem;
  height: 15rem;
  background-color: #ADFF0026;
  border-radius: 1rem;
  padding: 1rem;
}

#common-mission-personal-name {
  display: flex;
  flex: 1;
  justify-content: center;
}

#common-mission-personal-image {
  display: flex;
  flex: 2;
  margin-bottom: 1rem;
}

#common-mission-personal-image img {
  width: 100%;
  height: 100%;
}

#common-mission-personal-desc {
  display: flex;
  flex: 2;
  align-items: flex-start;
}

#common-mission-personal-desc span {
  font-size: 0.8rem;
}

#date-text {
  font-size: 40px;
  font-weight: 800;
  margin-right: 10px;
}

.mui-select {
  margin-right: 10px !important;
}

#team-select {
  width: 200px;
}

#category-select {
  width: 150px;
}

#mission-select {
  width: auto;
}

.menu-mission-assign-button {
  display: flex;
  flex-direction: row;
  width: 180px;
  justify-content: center;
  align-items: center;
  background-color: #F3736D;
  border-radius: 2rem;
  margin-right: 40px;
  padding: 0px 30px 0px 30px;
  cursor: pointer;
}

.menu-mission-assign-button span {
  font-size: 20px;
  font-weight: 800;
  color: #FFFFFF;
}

#menu-mission-assign-dialog-header {
  display: flex;
  width: 400px;
  justify-content: space-between;
}

#menu-mission-add-mission-button span{
  color: #F3736D;
  cursor: pointer;
}

#menu-mission-assign-dialog-body {
  display: flex;
  flex-direction: column;
}

#menu-mission-assign-dialog-body > * {
  margin: 10px 0;
}

#menu-mission-assign-dialog-body #team-select {
  width: auto;
}

#menu-mission-assign-dialog .menu-mission-assign-button  {
  justify-content: center;
  width: 120px;
  height: 30px;
  margin-right: 0px;
  border-radius: 1rem;
}

#menu-mission-assign-dialog .menu-mission-assign-button span {
  font-size: 15px;
}

.menu-mission-table-user {
  background-color: aliceblue;
}

#menu-mission-table-user-list-item {
  display: flex;
  justify-content: space-between;
}