
.debug {
    border: none;
}

#msadd-main {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#msadd-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    border: solid 1px;
}

#msadd-button {
    background-color: lightblue;
    border-radius: 15px;
    padding: 10px;

    margin: 10px;
}