#sidebar {
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: #FFFFFF;
  position: fixed;
  height: calc(100% - 3.5rem);
  top: 3.5rem;
  left: 0;
}

#title-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  margin-left: 20px;
}

#date {
  display: flex;
  flex: 1;
  align-items: center;
  margin-bottom: 48px;
}

#date-text {
  font-size: 40px;
  font-weight: 800;
  margin-right: 10px;
}

#user {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#user span {
  font-size: 24px;
  color: #AAABA7;
}

#menu-wrapper {
  display: flex;
  flex-direction: column;
  flex: 4;
  margin-left: 20px;
}

#menu-wrapper a {
  text-decoration: none;
  color: inherit;
}

#menu-wrapper span {
  font-size: 0.75rem;
  font-style: italic;
  color: #AAABA7;
}

.selected-tab {
  background-color: #A6EB00;
  color: white;
}


.menu-item {
  display: flex;
  align-items: center;
  margin: 0.6rem;
  padding-left: 0.6rem;
  border-radius: 10px;
}


.menu-item img {
  width: 2rem;
  height: 2rem;
}

#menu-wrapper .menu-item span {
  font-size: 1.1rem;
  font-weight: 700;
  color: inherit;
  padding-left: 0.6rem;
}