#sidebar {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #FFFFFF;
  position: fixed;
  height: 100vh;
  padding-top: 20px;
  border-right: solid 1px #e5e5e5;
}

#sidebar-header-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: solid 1px #e5e5e5;
}

#sidebar-logo {
  width: 80%;
  padding-top: 20px;
  margin-bottom: 50px;
}

#sidebar-user {
  display: flex;
  flex-direction: column;
  flex: 1;
}

#sidebar-user span {
  font-size: 20px;
  font-weight: 800;
  color: #AAABA7;
}

#sidebar-menu-wrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 20px;
  padding-top: 20px;
}

#sidebar-menu-wrapper a {
  text-decoration: none;
  color: inherit;
}

.menu-item {
  display: flex;
  align-items: center;
  margin: 20px 0px 20px 20px;
  border-radius: 10px;
}

.menu-item img {
  width: 24px;
  height: 24px;
}

#sidebar-menu-wrapper .menu-item span {
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: inherit;
  padding-left: 0.6rem;
}

#sidebar-footer {
  display: flex;
  align-self: center;
  margin-bottom: 40px;
}

#logout-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 230px;
  border: solid 2px #fac7c4;
  border-radius: 2rem;
  background-color: #fdf1f0;
}

#sidebar-footer a {
  text-decoration: none;
  color: inherit;
}

#logout-button span {
  text-decoration: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  color: inherit;
  padding-left: 0.6rem;
}